#knocking-participant-list ul li {
    display: block; 
}

#knocking-participant-list ul li button{
    margin: 5 5px;
}

ul.poll-answer-field-list {
    list-style-type: none;
    padding: 0 0 0 0;
}

li.poll-answer-field-list {
    display: inline-flex;
    width: 100%;
}

ul.poll-answer-list {
    list-style-type: none;
}

.poll-question {
    font-size: 1.8em !important;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #b8c7e0 !important;
}

.poll-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}